/.phpunit.cache
/bootstrap/ssr
/node_modules

# --- PERUBAHAN JALUR ROOT (Pindahan dari folder public) ---
/fonts-manifest.dev.json
/hot
# ---------------------------------------------------------

/storage/*.key
/storage/pail
/vendor
.DS_Store

# Mengunci file env lokal agar tidak menimpa database Hostinger
.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed